html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

App-header {
    background-color: #f2f0ed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

App-decor {
    display: flex;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    color: #ADD8e6;
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
    background-color: #ADD8e6;
    align-items: left;
    display: block;
    height: 180px;
}